/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.ud-icons i{
  font-size: 15px;
  color:green;
}
ul {
  list-style-type: none;
}
.controls {
  margin-right: 5px;
  float: left;
  display: inline;
}
#error_explanation{
  color: red;
}