/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.ud-icons i{
  font-size: 15px;
  color:green;
}
ul {
  list-style-type: none;
}
.controls { 
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
#error_explanation{
  color: red;
}
a{
  text-decoration: none;
}