/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.contents {
  display: inline-block;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}