<div class="item-slick2 p-l-15 p-r-15">
	<!-- Block2 -->
	<div class="block2">
		<div class="block2-img wrap-pic-w of-hidden pos-relative">
		     <%= image_tag feature_product.image.url %>
		</div>

		<div class="block2-txt p-t-20">
			<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
			   <%= feature_product.header %>
			</a>

			<span class="block2-price m-text6 p-r-5">
		          <%= feature_product.price %>$
			</span>
		</div>
	</div>
</div>