<!-- Header -->
<header class="header1">
	<!-- Header desktop -->
	<div class="container-menu-header">
		<div class="topbar">
			<span class="topbar-child1">
				Free shipping for standard order over $100
			</span>
		</div>
		<div class="wrap_header">
			<!-- Logo -->
			<a href="index.html" class="logo">
				<img src="assets/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Menu -->
			<div class="wrap_menu">
				<nav class="menu">
					<ul class="main_menu">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="product.html">Shop</a>
						</li>
						<li>
							<a href="about.html">About</a>
						</li>
					</ul>
				</nav>
			</div>

			<!-- Header Icon -->
			<div class="header-icons">
				<a href="#" class="header-wrapicon1 dis-block">
					<img src="assets/icons/icon-header.png" class="header-icon1" alt="ICON">
				</a>
			</div>
		</div>
	</div>
</header>

<!-- Slide1 -->