<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
  <h4 class="m-text12 t-center">
    <%= header %>
  </h4>

  <a href="#" class="s-text11 t-center">
    <%= content %>
  </a>
</div>